{% extends "partials/page.html.twig" %}

{% block content %}
    <div class="content-page-default">
        <h1 class="title-page"><i class="fa fa-file-text-o"></i> {{ page.title }}</h1>
        {% include 'partials/breadcrumbs.html.twig' %}
        <div class="block-info-page">
            {% for autor in page.taxonomy.autor %}
                <span class="info"><i class="fa fa-user"></i> <a href="{{ base_url_relative }}/search/query:{{ autor }}">{{ autor }}</a> |</span>
            {% endfor %}
            {% for categoria in page.taxonomy.categoria %}
                <span class="info"><i class="fa fa-folder"></i> <a href="{{ base_url_relative }}/search/query:{{ categoria }}">{{ categoria }}</a> |</span>
            {% endfor %}
            <span class="info"><i class="fa fa-eye"></i> {{ config.plugins['count-views'].counts[page.url] }} |</span>
            {% for tag in page.taxonomy.tag %}
                <span class="tag info"><i class="fa fa-tag"></i> <a href="{{ base_url_relative }}/search/query:{{ tag }}">{{ tag }}</a></span>
            {% endfor %}
            <span class="float-right datetime"><strong>Página atualizada:</strong> <i class="fa fa-clock-o"></i> {{ page.date|nicetime(false)}} | {{ snappygrav(page.route)|raw }}</span>
        </div>
        <div class="content">
            {{ page.content|raw }}
        </div>
        <div class="rating-vote">
            <hr>
            <h3><i class="fa fa-pencil-square-o"></i> Este artigo te ajudou?</h3>
            {{ thumbs(page.slug)|raw }}
        </div>
    </div>
{% endblock %}